[Desktop Entry]
Type=Application
Name=Panoply
Icon=/data/Applications/PanoplyJ/panoply.png
Exec=bash -c "panoply.sh"
Terminal=false
StartupNotify=false
